:root {
  --primaryColor: #48A240
}

body {
  overflow-x: hidden;
}

img,
iframe {
  max-width: 100%;
}

.app-theme-white.app-container {
  background: #001F2A;
  color: #fff;
}

.app-theme-white .app-page-title {
  background: transparent;
}

.app-theme-white .app-footer .app-footer__inner,
.app-theme-white .app-header,
.app-theme-white.fixed-header .app-header__logo {
  background: #00171F;
}

button {
  background: transparent;
  border: 0 none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.primary {
  color: rgb(63, 221, 48);
}

a.primary:hover {
  color: rgb(15, 136, 4);
}

a.no_underline:hover {
  text-decoration: none;
}

.medium_font {
  font-weight: 500;
}

.bold_font {
  font-weight: 700;
}

.main_btn {
  background: var(--primaryColor);
  color: #fff;
  font-size: 1rem;
  border-radius: .25rem;
}

.light_btn,
.light_btn:hover {
  background-color: #ffc6c8;
  font-size: 1rem;
  color: var(--primaryColor);
}

.main_btn:hover,
.main_btn:active {
  background: #219516;
  color: #fff;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal', sans-serif;
}

@media(min-width: 992px) {
  .fixed-sidebar .app-main .app-main__outer {
    padding-left: 0;
    padding-right: 200px;
  }
}

.search-wrapper.active .close {
  right: 300px;
  left: 0;
}

.nav-link .nav-link-icon {
  margin-left: 0;
  margin-right: -10px;
}

.app-header .app-header__content .app-header-right {
  margin-right: auto;
  margin-left: 0;
}

.vertical-nav-menu i.metismenu-state-icon.pe-7s-angle-down {
  left: 0;
  right: auto;
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
  right: 5px;
  left: auto;
}

.vertical-nav-menu li a {
  padding: 0 2.8125rem 0 1.5rem
}

.dropdown-menu.dropdown-menu-right {
  left: 0 !important;
  right: auto !important;
}

.app-page-title {
  margin-bottom: 0;
}

.app-page-title .page-title-icon {
  margin-right: 0;
  margin-left: 1.875rem;
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {
  text-indent: initial;
  padding: 0 45px 0 1.5rem;
}

.widget-content .widget-content-right {
  margin-left: 0;
  margin-right: auto;
}

.form_control {
  display: block;
  width: 100%;
  border: 0 none;
  background: #001b2f;
  padding: .5rem;
  border: 1px solid #1b394f;
  border-radius: .25rem;
  color: #fff;
}

.form_control:focus {
  border-color: var(--primaryColor);
}

.form_line {
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  bottom: 0;
  background: #242C33;
  transform-origin: 100% 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}

.form_control:focus~.form_line,
.bootstrap-tagsinput:focus~.form_line,
.select2-container:active~.form_line {
  transform: scaleX(1);
  opacity: 1;
}

.form_head {
  background: #001b2f;
  padding: 1rem 0 3rem;
  text-align: center;
  color: #fff;
}

.form_wrapper {
  background: #fff;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
  padding: 1.5rem;
  margin-top: -2rem;
  border-radius: .5rem;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
  border: 2px solid transparent;
  border-bottom-color: #ddd;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.5rem;
}

.file-preview .fileinput-remove {
  top: .5rem;
  left: .5rem;
  right: auto;
}

.file-drop-zone-title {
  padding: 3rem .5rem;
}

.btn-file {
  border-color: var(--primaryColor);
  background: transparent;
  color: var(--primaryColor);
}

.btn-file:hover {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
}

.repeated_form .form-row:first-of-type .btn {
  display: none;
}

/* main.css | http://127.0.0.1:5500/assets/css/main.css?_cacheOverride=1590668363362 */

@media (max-width: 991.98px) {
  .app-sidebar {
    /* transform: translateX(-280px); */
    transform: translateX(280px);
  }
}

/* bootstrap-tagsinput.css | http://127.0.0.1:5500/assets/css/bootstrap-tagsinput.css */

.bootstrap-tagsinput .tag {
  background: #e52328;
  padding: .1rem .25rem;
  border-radius: .25rem;
}


.bootstrap-tagsinput {
  /* display: inline-block; */
  display: block;
  border: 2px solid transparent;
  border-bottom-color: #ddd;
  box-shadow: 0 0 0 transparent;
  line-height: 1.8125rem;
}

.status_badge {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

textarea.form-control:focus {
  border-color: #242C33;
  box-shadow: none;
}

.app-sidebar {
  width: 200px;
  min-width: 200px;
}



@media (max-width: 991.98px) {
  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul li a {
    padding: 0 45px 0 1.5rem;
  }
}

.small_font {
  font-size: .875rem;
}

.grey_icon {
  color: rgba(255, 255, 255, .5);
  ;
}

.grey {
  color: rgba(255, 255, 255, .8);
}

/* main.css | http://127.0.0.1:5500/assets/css/main.css */
.app-header__logo {
  width: 200px;
  padding: 0 1.5rem 0 0;

}

.app-header__logo .logo-src {
  height: 64px;
  background-size: contain;
  background-position: right;
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a {
  color: #fff;
}



.app-theme-white .app-sidebar.bg-custom {
  background: #003459;
}

.vertical-nav-menu i.metismenu-icon {
  width: 1.25em;
  opacity: .7;
}


.widget-content .widget-content-left .widget-subheading {
  /* opacity: .5; */
  opacity: 0.7;
}


.widget-content .widget-content-left .widget-heading {
  /* opacity: .8; */
  opacity: 1;
}

sub {
  font-size: 1rem;
  opacity: .8;
}

.checkbox_custom {
  display: inline-flex;
  position: relative;
  margin: 0;
}

.checkbox_custom input {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
}

.checkbox_custom span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ddd;
  border-radius: .25rem;
  text-align: center;
  position: absolute;
}

.checkbox_custom span:before {
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  position: relative;
  top: -.1rem;
  color: #682b30;
  opacity: 0;
}

.checkbox_custom input:checked~span:before {
  opacity: 1;
}

/* jquery.dataTables.min.css | https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css */

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
  padding: .625rem 1.5rem !important;
}

.dropdown-menu {
  min-width: 10rem;
}

.dropdown-menu .nav {
  padding-right: 0;
}

.dropdown-toggle::after {
  margin-right: 5px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #fff;
}


.ui-timepicker-standard {
  z-index: 999 !important;
}

.ui-timepicker-container ul {
  list-style: none;
  padding-right: 0 !important;
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
  border-bottom: 2px solid #ddd
}

.select2-container .select2-selection--single {
  height: auto;
  border: 0 none
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 1.5rem;
  border: 0 none;
}

/* DARK */

.app-page-title .page-title-icon {
  background: #003459;
}

.bg-mean-fruit {
  background-image: linear-gradient(120deg, #FFF 0%, #FFF 100%) !important;
}


.card {
  background: #0a2f48;
}



#dataTable_length {
  margin: 1.5rem 0 1.5rem 0;
}


#dataTable_filter {
  margin: 1.5rem 1.5rem 0 0;
}

#dataTable thead tr {
  background: #001b2f;
}


#dataTable_info {
  margin: 0 0 1.5rem 1.5rem;
}


#dataTable_paginate {
  margin: 0 1.5rem 0 1.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  /* line-height: 22px; */
  line-height: 35px;
  font-size: 0;
  color: #fff !important;
}

.list_detail {
  margin-bottom: 1rem;
  font-size: .875rem;
}

.list_detail:last-of-type {
  margin-bottom: 0;
}

.trip_line_block {
  border-bottom: 1px solid #25506f;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}

.trip_line_block:last-of-type {
  margin-bottom: 0;
  border: 0;
}

@media(max-width: 768px) {
  .app-header__logo .logo-src {
    background-position: center center;
  }
}

a.card:hover {
  text-decoration: none;
}

/* main.css | http://127.0.0.1:5500/assets/css/main.css */

.btn-outline-primary {
  /* color: #3f6ad8; */
  color: #3a71ff;
}

/* rtl.css | http://127.0.0.1:5500/assets/css/rtl.css */

.app-header__logo {
  /* padding: 0 1.5rem 0 0; */
  padding: 0 2rem 0 0;
}

/* main.css | http://127.0.0.1:5500/assets/css/main.css */

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .header__pane {
  /* margin-right: auto; */
  margin-right: 0;
}